.incomingStudy {
    background-color: #EEE;
}

.entry {
    position: relative;
    width: auto;
    height: 180px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px;
    text-shadow: 0px 0px 3px #fff;
}

.entry:hover {
    background-color: #BBB;
}

.entry .PatientName {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 26px;
}

.content {
    padding: 5px;
    background-color: white;
}

.bottom {
    margin: 2px;
}

.select2-selection__rendered {
    line-height: 31px !important;
}
.select2-container .select2-selection--single {
    height: 35px !important;
}
.select2-selection__arrow {
    height: 34px !important;
}

.series {
    border: 2px solid grey;
    border-radius: 3px;
    /* width: 30%; */
    padding: 5px;
    //margin-right: 2px;
    margin-bottom: 2px;
    overflow: hidden;
    /* display: inline-flex; */
}

li:hover {
   background-color: #EEE;
}

div.meta-header {
    margin-bottom: 0px;
    margin-top: 0px;
    background-color: black;
    color: white;
    margin-top: 20px;
    padding-left: 10px;
}
html {
    scroll-behavior: smooth;
  }